:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #44c3e7;
  --color-dark-blue: #3790cc;

  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size--border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Universal tag */
* {
  box-sizing: border-box;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

P {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

#navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  z-index: 1;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark {
  padding: 8px;
  background-color: var(--color-blue);
}

.navbar__logo {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size--border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

.navbar__menu__item:hover {
  border: 1px solid white;
  border-radius: var(--size--border-radius);
  background-color: var(--color-dark-blue);
}

#home {
  background: url("assets/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 100px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size--border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

.section {
  padding: 70px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__icon > i {
  transition: all var(--animation-duration) ease;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.job img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 30px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

#skills {
  background-color: var(--color-yellow);
}

.skill {
  margin-bottom: 32px;
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__title {
  color: var(--color-white);
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size--border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}

.category__count {
  display: inline-block;
  position: absolute;
  line-height: 24px;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  right: 16px;
  top: -20px;

  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__rights,
.contact__email {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 12px 0;
  transition: all var(--animation-duration) ease-out;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    font-size: var(--font-medium);
    top: 26px;
    right: 16px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    width: 100%;
    margin: 4px 0px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }

  .navbar__logo > img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-right: 16px;
  }
}
